/* Fichier style avec l'intégralité des affichages stylisés des publications
    et des galeries d'articles */

/* Variables utilisées :

--word-spacing
--color-text
--color-background
--color-background-alt
--color-text-article-title
--color-text-article-desc
--color-text-article-author
--font-article

*/

h1 {
    font-variant: small-caps;
}

.middle .article p {
    word-spacing: var(--word-spacing);
    color: var(--color-text);
}

.middle .article img {
    max-width: 100%;
}


/*--Gallerie d'éléments, affiche comme des cartes--*/
.card_article {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}
.card {
    width: 450px; /* lié à:
                        .card .text_card -> padding: 0.5em 0.5em 0.5em XXX (XXX = .card:hover .miniature -> width + 10px);
                        .card:hover .miniature -> width: XXX (XXX = .card -> height - 20px);
                                               -> height: XXX (XXX = .card -> height - 20px);
                  */
    height: 180px;
    max-width: 100%;
    background-color: var(--color-body-background);
    transition: 0.5s .1s all ease-in-out;
    border-radius: 25px;
    overflow: hidden;
}
.card .miniature {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .3s all ease-out;
    border-radius: 25px;
    opacity: .85;
}
.card .miniature img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .text_card {
    display: none;
    grid-template-areas: "titre titre titre" "auteur . ." "description description description" ". . date";
    grid-template-rows: auto 1.5em 1fr 1em;
    position: absolute;
    z-index: -1;
    padding: 0.5em 0.5em 0.5em 180px;
    height: 95%;
    opacity: 0;
    min-width: 100%;
    min-height: 100%;
}


.card .titre {
    grid-area: titre;
    font-size: x-large;
    transition: .3s all ease-out;
}
.card .auteur {
    grid-area: auteur;
    font-size: smaller;
}

.card .new {
    display: initial;
    z-index: 20;
    position: relative;
    top: -60%;
    left: 45%;
    font-size: x-large;
    font-weight: bold;
}

.card .description {
    grid-area: description;
    overflow: hidden;
}
.card .date {
    grid-area: date;
    font-size: x-small;
    justify-self: end;
}
.card:hover .miniature {
    width: 160px;
    height: 160px;
    margin: 10px;
    margin-left: 15px;
    border-radius: 2px;
    opacity: 1;
}
.card:hover .text_card {
    display: grid;
    opacity: 1;
    color: var(--color-text);
}
.card:hover .titre {
    font-weight: bold;
}
.card:hover .new {
    display: none;
}
.card:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    z-index: 10;
    box-shadow: 15px 10px 30px 10px rgba(93, 123, 143, 0.6);
}



.article {
    font-family: var(--font-article);
}


/*--Boutons après l'article (vues, likes, dislikes)--*/
.articleMenuButtonContainer {
    display: flex;
    width: auto;
    height: inherit;
}
.articleMenuButtonElement {
    margin: 4px 15px;
}
.articleMenuButtonElement a {
    display: flex;
}
.articleMenuButtonElement img {
    height: 100%;
}
.articleMenuButtonElement p {
    margin: 0px 5px;
    font-family: 'Montserrat';
}
/*--Affiche les boutons vues, likes et dislikes en blanc lorsqu'on est en mode nuit--*/
:root[user-color-mode=dark] .visitsButton,
:root[user-color-mode=dark] .likeButton,
:root[user-color-mode=dark] .dislikeButton,
:root[user-color-mode=dark] .editButton {
    filter: invert(1);
}

/*--À appliquer à la fin; Pour les petits écrans--*/
/*  Il faut laisser cette partie en fin de css    */
@media (max-width: 800px) {
    .card {
        width: 300px;
        height: 130px;
    }
    .card:hover .miniature {
        width: 130px;
        height: 130px;
        margin: 0;
    }
    .card .text_card {
        grid-template-rows: max-content 1.5em ;
        padding: 0.1em 0.5em 0.1em 135px;
        height: 130px !important;
        min-height: 130px !important;
    }
    .card:hover {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}
