/* Fichier style avec l'intégralité des affichages stylisés des publications
    et des galeries d'articles */

/* Variables utilisées :

--word-spacing
--color-text
--color-background
--color-background-alt
--color-text-article-title
--color-text-article-desc
--color-text-article-author
--font-article

*/

h1 {
    font-variant: small-caps;
}

.middle article p {
    word-spacing: var(--word-spacing);
    color: var(--color-text);
}

.middle article img {
    max-width: 100%;
}


/*--Gallerie d'éléments, affiche comme des cartes--*/
.cardGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px
}
.cardArticle {
    width: 14em;
    height: 14em;
    background-color: var(--color-background);
    overflow: hidden;
    border-radius: 15%;
    display: grid;
    grid-template-areas: "title title title"
                         "more more more"
                         ". author author"
                         "option option option";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) auto;
}
.cardArticle > * {
    align-self: center;
    margin: 0;
}
.cardArticle .title {
    grid-area: title;
    width: 100%;
    padding: 2% 10%;
}
.cardArticle .date {
    grid-area: more;
    width: 100%;
    padding: 2% 15%;
    white-space: nowrap;
} /* Can't have both date and desc */
.cardArticle .desc {
    grid-area: more;
    width: 100%;
    padding: 2% 5%;
}
.cardArticle .author {
    grid-area: author;
    width: 100%;
    padding: 2% 10%;
    white-space: nowrap;
    text-align: center;
}
.cardArticle .option {
    grid-area: option;
    background-color: antiquewhite;
    height: 2.5em;
    width: 100%;
    padding: 2% 10%;
}
.cardCategory {
    background-color: var(--color-background-alt);
}
/*--Gestion des pages lorsqu'il existe plusieurs pages--*/
.articleGalleryPageContainer {
    width: 100%;
    height: 2em;
    display: flex;
    font-size: x-large;
}
.articleGalleryPageElement {
    margin: 0.5em;
    padding: 0.1em 0.3em;
}
/*--Spécifique à la page admin--*/
.cardArticleContentProfiles span,
.cardArticleContentProfiles a {
    font-size: small;
}
.cardArticleImageProfiles {
    max-width: 160px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.article {
    font-family: var(--font-article);
}


/*--Boutons après l'article (vues, likes, dislikes)--*/
.articleMenuButtonContainer {
    display: flex;
    width: auto;
    height: inherit;
}
.articleMenuButtonElement {
    margin: 4px 15px;
}
.articleMenuButtonElement a {
    display: flex;
}
.articleMenuButtonElement img {
    height: 100%;
}
.articleMenuButtonElement p {
    margin: 0px 5px;
    font-family: 'Montserrat';
}
/*--Affiche les boutons vues, likes et dislikes en blanc lorsqu'on est en mode nuit--*/
:root[user-color-mode=dark] .visitsButton,
:root[user-color-mode=dark] .likeButton,
:root[user-color-mode=dark] .dislikeButton,
:root[user-color-mode=dark] .editButton {
    filter: invert(1);
}
