/* Fichier style pour les commentaires*/

/* Variables utilisées :

--color-underline
--color-body-background
--color-text-hover
--color-text-shadow-selected
--color-separation-line

*/


/*--Partie pour Afiicher Plus dans commentaires--*/
.panel-wrapper {
    position: relative;
    margin: -10px;
}
.btn {
    color: #fff;
    background: rgb(100, 100, 100);
    border-radius: 1em;
    left: 20%;
    padding: 0.5em;
    text-decoration: none;
    width: 60%;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}
.show,
.hide {
    position: absolute;
    bottom: -1em;
    z-index: 5;
    text-align: center;
}
.hide {
    display: none;
}
.show:target {
    display: none;
}
.show:target~.hide {
    display: block;
}
.show:target~.panel {
    max-height: 2000px;
}
.show:target~.fade {
    margin-top: 0;
}
.panel {
    position: relative;
    margin: 2em auto;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    transition: max-height .5s ease;
    margin-left: 3.5em ;
}
.fade {
    background: linear-gradient(to bottom, rgba((100, 100, 100), 0) 0%, rgba((100, 100, 100), 1) 75%);
    height: 100px;
    margin-top: -100px;
    position: relative;
}

/*-- CSS pour le texte des commentaires: C... (c'est de commentaire) */
.NCapsule {
    font-family: sans-serif;
    font-weight: 400;
    box-shadow: 0 2px 0 var(--color-underline);
    text-align: left;
    float: left;
    width: 175px;
    display: table-cell;
}
.CText {
    word-break: break-word;
    width: 230px;
}
.CBlock {
    background: var(--color-body-background);
    box-sizing: border-box;
    box-shadow: 0 1px 3px var(--color-text-hover);
    border-color: var(--color-text-shadow-selected);
    padding: 8px;
    margin: 10px;
    border-width: 2px;
    max-width: 250px;
    width: 100%;
}
.Commentaires {
    border-left: solid;
    border-left-color: var(--color-separation-line);
    border-left-width: 2px;
    width: 100%;
}