/* Fichier style pour les commentaires*/

/* Variables utilisées :

--color-underline
--color-body-background
--color-text-hover
--color-text-shadow-selected
--color-separation-line

*/

/*Div de l'espace commentaires*/
.Commentaires {
    border-left: solid;
    border-left-color: var(--color-separation-line);
    border-left-width: 2px;
    width: 100%;
}
/*Div regroupant tous les commentaires chargés*/
.comments {
    position: relative;
    margin: 2em auto;
    width: 100%;
    overflow: hidden;
    transition: max-height .5s ease;
    margin-left: 3.5em ;
}

/*-- CSS pour le texte des commentaires: C... (c'est de commentaire) */
.NCapsule {
    font-family: sans-serif;
    font-weight: 400;
    box-shadow: 0 2px 0 var(--color-underline);
    text-align: left;
    float: left;
    width: 175px;
    display: table-cell;
}
.CText {
    word-break: break-word;
    width: 230px;
}
.CBlock {
    background: var(--color-body-background);
    box-sizing: border-box;
    box-shadow: 0 1px 3px var(--color-text-hover);
    border-color: var(--color-text-shadow-selected);
    padding: 8px;
    margin: 10px;
    border-width: 2px;
    max-width: 250px;
    width: 100%;
}