/*-- Fichier style pour l'édition du profil --*/

/* Variables utilisées :

--color-body-background

*/

/* principalement .links_list (style_connexion_inscription.css) */
.links_list {
    background: var(--color-body-background);
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 280px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: var(--color-text);
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    margin-bottom: 10px;
    outline: none;
}
/*couleur placeholder*/
.links_list::placeholder {
    color: var(--color-placeholder);
}
.links_list:hover,
.links_list:focus {
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .25);
}
.links_list:active {
    filter: brightness(0.9);
}
.links_list[type="submit"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
}


.links_list_error {
    border-color: 1px solid rgba(255, 0, 0, 0.6);
    background: radial-gradient(var(--color-body-background) 20%, rgba(255, 0, 0, 0.3) 150%);
}