html {
	height: 100%;
    background-position: center;
	background: url("background.png");
    background-color: white;
    background-size: cover;
}
/*--Ne pas laisser de rebord blanc--*/
body {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
	background-size: cover;
}


/*--tout ce qui ce trouve là où on met du texte, espacement en haut et en bas--*/
article {
	font-family: Helvetica;
	padding-bottom: 5em;
	margin-left: 15px;
	margin-right: 15px;
	color: solid black;
}
/*--affecte tout ce qui est dans le header, notamment l'arrière plan du header (en gris sur la page web)--*/
.header{
    position: static;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: rgb(42, 70, 196);
}
.menu{
    padding: 0 10px;
}


/*--Affecte chaque partie du header où on peut cliquer (Menu, Article, Playlist...)--*/
.menu a{
    font-weight: bold;
    text-decoration: ;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}

/*--Affecte les transitions lorsque l'on clique sur un élément du header(Menu, Article...)--*/
.menu a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}

a.selected{
	color: black;
}

/*--Affecte le titre en haut de la page--*/
.bannière {
	background-image: url("banniere_twi.png");
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid white;
	width: 100%;
	height: 220px;
	
}

.hidden {
	text-align: center;
	visibility: hidden;
	font-size: 50px;
}

form {
	margin-top: 20px;
	display: flex;
}



/*--Affecte le footer et ce qui s'y trouve--*/
footer {
	background-color: rgb(42, 70, 196);
	text-align: center;
	color: #fff;
	padding: 0.5em;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
