html {
    background-position: center;
    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 50% 200%;
}

/*--Ne pas laisser de rebord blanc--*/
body {
	margin: 0 auto;
	background-size: cover;
}



/*--tout ce qui ce trouve là où on met du texte, espacement en haut et en bas--*/
article {
	font-family: Helvetica;
	padding-bottom: 5em;
	margin-left: 15px;
	margin-right: 15px;
	color: white;
}

/*--affecte tout ce qui est dans le header, notamment l'arrière plan du header (en gris sur la page web)--*/
.header{
    position: static;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: #222222;
}
.menu{
    padding: 0 10px;
}


/*--Affecte chaque partie du header où on peut cliquer (Menu, Article, Playlist...)--*/
.menu a{
    font-weight: bold;
    text-decoration: ;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}

/*--Affecte les transitions lorsque l'on clique sur un élément du header(Menu, Article...)--*/
.menu a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}

/*--Affecte le titre en haut de la page--*/
.TitreSite {
	background-color: #bf360c;
	border: 10px solid black;
	text-align: center;
	font-size: 50px;
}



/*--Affecte le footer et ce qui s'y trouve--*/
footer {
	background-color: #bf360c;
	text-align: center;
	color: #fff;
	padding: 0.5em;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}