article {
	font-family: Helvetica;
	padding-top: 5em;
	padding-bottom: 5em;
}



.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: #222222;
}
.menu{
    padding: 0 10px;
}

.menu a{
    font-weight: bold;
    text-decoration: ;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}
.TitreSite {
	background-color: #bf360c;
	border: 10px solid black;
	text-align: center;
}
.menu a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}

footer {
	background-color: #bf360c;
	text-align: center;
	color: #fff;
	padding: 0.5em;
	margin: 0;
}