.module {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.module > * {
    width: fit-content;
    line-height: 1.6em;
}

.Visites {
    border-top: solid;
    border-bottom: solid;
    border-color: var(--color-text);
    border-width: 0.5px;
    width: 300px;
}