/* DOIT ÊTRE MINIFIÉ PUIS RENOMMÉ EN "critical.css" */
/* À METTRE ICI TOUT LE CSS QUI EST PRÉSENTÉ AU CHARGEMENT DE LA PAGE,
DOIT ÊTRE LE PLUS LÉGER POSSIBLE */
/*--Stockage de variables principalement pour les couleurs du site--*/
:root {
    --color-background: rgba(142, 185, 230, 0.9);
    --color-background-alt: rgba(69, 156, 247, 0.6);
    --color-separation-line: rgba(69, 156, 247, 0.6);
    --color-navbar-dropdown-background: linear-gradient(180deg, var(--color-background) 10%, var(--color-background-alt) 90%);
    --color-text-shadow-selected: 0px 0px 20px white;
    --color-text-shadow-active: 0px 0px 12px #62bcda;
    --color-text-hover: #007dff;
    --color-unselected-links: white;
    --color-selected-text: #404040;
    --color-selection-text: inherit;
    --color-selection-bg: rgb(16, 137, 237, 0.45);
    --color-underline: dodgerblue;
    --color-text-article-title: bold var(--color-text);
    --color-text-article-desc: var(--color-text);
    --color-text-article-author: var(--color-text);
    --color-profil-title: var(--color-text-hover);
    --color-profil-line: rgba(54, 131, 247, 0.514);
    --color-profil-background: rgb(255, 255, 255);
}
/*Affecte toute la page HTML*/
html {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
/*Ne pas laisser de rebord blanc
Affecte le corps de la page sans affecter le header*/
body {
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    background-repeat: repeat-y;
}
/*--Boite parent--*/
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
}
/*--Boite enfant--*/
.element {
    flex-basis: auto;
    min-width: min-content;
}
.navBarHeader {
    padding: 0 10px;
    font-size: 1.1em;
    width: 100%;
    height: inherit;
}
/*--Eléments dans la navbar--*/
.headerFirstElement {
    display: inline-block;
    background: none;
    width: max-content;
}
/*Affecte chaque partie du header où on peut cliquer (Menu, Article, Playlist...)*/
.navBarHeader a:any-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: var(--color-unselected-links);
}
.header nav .search {
    margin-left: auto;
    margin-right: 30px;
}
/*--Grande boite regroupant le header, et le corps de la page
Ã l'intérieur de <body> mais en dehors de la navbar et de <article>--*/
.main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 1.12fr minmax(400px, 3fr) 1.12fr;
    /* note : minimum (400px) et maximum (5.24 unités fractionnelle de width 100%) */
    gap: 5px 3%;
}
/*--haut, gauche, mileu, droit et bas de la page--*/
.header {
    grid-column: 1/4;
    place-content: center;
    position: sticky;
    top: 0;
    min-height: 80px;
    line-height: 80px;
    background-color: var(--color-background);
    width: 100%;
    z-index: 100;
}
.left {
    grid-column: 1/2;
    grid-row: 2/3;
    min-width: min-content;
    font-family: var(--font-header);
    margin-left: 5%;
}
.middle {
    grid-column: 2/3;
    grid-row: 2/3;
    place-content: center;
    overflow-wrap: break-word;
    text-align: inherit;
    height: 100%;
    font-family: var(--font-base);
    font-size: large;
    line-height: 1.5em;
}
.right {
    grid-column: 3/4;
    grid-row: 2/3;
    min-width: min-content;
    font-family: var(--font-header);
    margin-right: 5%;
}
.footer {
    position: sticky;
    background-color: var(--color-background);
    grid-column: 1/4;
    grid-row: 3/4;
    min-height: 80px;
    width: 100%;
    place-content: center;
    text-align: center;
    font-family: var(--font-header);
    font-weight: 500;
}
/*--Eléments dans la navbar--*/
.headerFirstElement {
    display: inline-block;
    background: none;
    width: max-content;
}
.banniere {
    width: 100%;
    height: 130px;
    top: 0;
    z-index: 1000;
    object-fit: cover;
}
/*divers*/
article img {
    max-width: 100%;
}
form {
    width: 100%;
}
/*Menu déroulant*/
/*Le conteneur <div> - nécessaire pour positionner le contenu de la liste déroulante */
.dropdown {
    position: relative;
}
/* Contenu déroulant (masqué par défaut) */
.dropdown-content {
    display: none;
    width: 100%;
    min-width: max-content;
    max-width: 30em;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    background: var(--color-navbar-dropdown-background);
    box-shadow: 12px 16px 8px 0px rgb(0 0 0 / 20%);
    z-index: 100;
}
/*--Gallerie d'éléments, affiche comme des cartes--*/
.articleGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.articleGalleryArticles {
    display: flex;
    flex-direction: column-reverse;
}
.cardArticleContainer {
    height: 14em;
    margin: 6px 10px;
    background-color: var(--color-background);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.cardArticleImage {
    max-height: 5em;
    object-fit: cover;
}
.cardArticleContent {
    padding: 2px 10px;
    align-self: flex-end;
}
.cardArticleTitle {
    font-weight: bold;
    color: var(--color-text-article-title);
}
.cardArticleMainText {
    color: var(--color-text-article-desc);
    font-size: small;
}
.cardArticleSecondaryText {
    opacity: 0.8;
    color: var(--color-text-article-author);
    align-self: flex-end;
}
/*--Gestion des pages lorsqu'il existe plusieurs pages--*/
.articleGalleryPageContainer {
    width: 100%;
    height: 2em;
    display: flex;
    font-size: x-large;
}
.articleGalleryPageElement {
    margin: 0.5em;
    padding: 0.1em 0.3em;
}
/*--Spécifique à la page admin--*/
.articleGalleryProfiles {
    grid-template-columns: repeat(auto-fill, 450px);
}
.cardArticleContainerProfiles {
    flex-wrap: nowrap;
    height: 4em;
}
.cardArticleContentProfiles {
    display: inline;
}
.cardArticleContentProfiles span,
.cardArticleContentProfiles a {
    font-size: small;
}
.cardArticleImageProfiles {
    max-width: 160px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.article {
    font-family: var(--font-article);
}
/*--Boutons après l'article--*/
.articleMenuButtonContainer {
    display: flex;
    width: auto;
    height: inherit;
}
.articleMenuButtonElement {
    margin: 4px 15px;
}
.articleMenuButtonElement a {
    display: flex;
}
.articleMenuButtonElement img {
    height: 100%;
}
.articleMenuButtonElement p {
    margin: 0px 5px;
    font-family: 'Montserrat';
}
.cookie-alert {
    width: 100%;
    margin: 20px 0px;
    line-height: normal;
}
.cookie-alert-ok-button {
    margin-top: 5px;
    padding: 2px 5px;
}
/* styling search bar */
.search input[type=text] {
    min-width: max-content;
    width: 100%;
    max-width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
    outline: none;
}
/*--Bouton mode sombre--*/
.BoutonTransition {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
input[type="checkbox"] {
    border: none;
    background-color: lightgrey;
    text-align: left;
    padding: 0.4rem;
    color: white;
    display: inline-block;
    border-radius: 2rem;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 40px;
    -webkit-appearance: none
}
input:checked[type="checkbox"] {
    background-color: #03a9f4;
}
input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
input:checked[type="checkbox"]:before {
    left: 40px;
}
/*-- CSS pour l texte du profil, l'avatar est plus haut, il y avait déjà des modifications.*/
.ProfilTxt {
    padding: 30px;
    background: var(--color-body-background);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
}
.PTitle {
    color: var(--color-profil-title);
    font-family: Times;
    font-size: 23px;
    font-weight: 500;
}
.PCapsule {
    font-family: sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 450px;
    background-color: var(--color-body-background);
    box-shadow: 0 2px 0 var(--color-profil-line);
    display: table-cell;
}
.PActions {
    font-family: sans-serif;
    color: var(--color-links);
}
.PName {
    font-family: Times;
    font-weight: 600;
}
/*-- CSS pour le texte des commentaires: C... (c'est de commentaire) */
.NCapsule {
    font-family: sans-serif;
    font-weight: 400;
    box-shadow: 0 2px 0 var(--color-underline);
    text-align: left;
    float: left;
    width: 175px;
    display: table-cell;
}
.CText {
    word-break: break-word;
    width: 230px;
}
.CBlock {
    background: var(--color-body-background);
    box-sizing: border-box;
    box-shadow: 0 1px 3px var(--color-text-hover);
    border-color: var(--color-text-shadow-selected);
    padding: 8px;
    margin: 10px;
    border-width: 2px;
    max-width: 250px;
    width: 100%;
}
.Commentaires {
    border-left: solid;
    border-left-color: var(--color-separation-line);
    border-left-width: 2px;
    width: 100%;
}
/*-- Obglet Menu */
.ImageLien {
    height: 117px;
    width: 117px;
    filter: grayscale();
    border-radius: 50%;
}
.MenuTxt {
    text-align: left;
}
.Visites {
    border-top: solid;
    border-bottom: solid;
    border-color: var(--color-text);
    border-width: 0.5px;
    width: 300px;
}

/*Important : fin de fichier*/
* {
    box-sizing: border-box;
}
/*NE PAS AFFICHER UN ELEMENT*/
.hidden {
    visibility: hidden;
}
/*CENTRER L'ELEMENT*/
/*VERTICAL*/
.vcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*HORIZONTAL*/
.hcenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-self: center;
}
/*Style à appliquer pour les mobiles*/
@media (max-width: 800px) {
    /*Éléments principaux de la page*/
    .main {
        display: flex;
    }
    .footer {
        align-self: flex-end;
    }
    .left {
        display: none;
        margin: initial;
    }
    .right {
        margin: initial;
    }
    #search_form, #account_preview {
        display: none;
    }
    #search__form_substitute {
        display: initial;
    }
    .dropdown-content {
        display: none;
    }

}