/*--Rappel:
	html => balise
	.header => class
	#Staff => id
--*/


/*--Affecte toute la page HTML--*/

html {
    height: 100%;
    background-position: center;
    background-color: white;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin-top: 130px;
    transition: 1s;
}


/*--Ne pas laisser de rebord blanc
	Affecte le corps de la page sans affecter
		le header--*/

body {
    overflow: auto;
    overflow-x: hidden;
    /* Hide scrollbars */
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    background-size: cover;
    background: url("assets/background.png");
}


/*--tout ce qui ce trouve là où on met du texte, espacement en haut et en bas--*/

article {
    font-family: Helvetica;
    padding-bottom: 5em;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
}

img {
    background-color: royalblue;
}


/*--affecte tout ce qui est dans le header, notamment l'arrière plan du header (en gris sur la page web)--*/

.header {
    position: sticky;
    top: 130px;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: royalblue;
    width: 100%;
    transition: 1s;
    z-index: 100000;
}


/*--Affecte les différents éléments contenus dans header, mais pas le header en lui même--*/

.menu {
    padding: 0 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    width: 100%;
    height: inherit;
    transition: 1s;
}


/*--Éléments dans la navbar--*/

.menuElement {
    display: inline-block;
    background: none;
}


/*--Affecte chaque partie du header où on peut cliquer (Menu, Article, Playlist...)
	transition du noir/blanc vers bleu en 0.5s en utilisant la courbe ease-in-out--*/

.menu a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.5s ease-in-out;
}


/*--Affecte les transitions lorsque l'on a la souris sur un élément du header(Menu, Article...)--*/

.menu a:hover {
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
    text-shadow: 0px 0px 18px white;
    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
}

.menu a.darkbody:hover {
    color: #C0C0C0;
}


/*--Change de couleur lorsque l'utilisateur clique sur l'élément
	(Seulement avant le changement de page)--*/

.menu a:active {
    color: black;
    text-shadow: 0px 0px 20px white;
}


/*--Page actuelle sélectionnée dans la navbar--*/

.menu a.selected {
    color: black;
    text-shadow: 0px 0px 12px #62bcda;
}

.menu a.selected.darkbody {
    color: #808080;
    text-shadow: 0px 0px 4px black, 0px 0px 8px white;
}


/*--Affecte le titre en haut de la page--*/

.bannière {
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    z-index: 1000;
    object-fit: cover;
    transition: 1s;
}


/*--Souligner les liens (c bo ptn)--*/

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: dodgerblue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*--Classes ne devant pas être affichées--*/

.hidden {
    text-align: center;
    visibility: hidden;
}


/*--Dans Inscription.html, gère les différentes zones où l'on peut écrire--*/

form {
    margin-top: 20px;
    display: flex;
}


/*--Code en 2 fois : à vérifier si erreur ou pas. En progression.--*/

a.selected {
    color: black;
    text-shadow: 0px 0px 12px #62bcda;
}


/*--Gère le lien discord--*/

a.discord-link {
    font-weight: bold;
    color: white;
}


/*--Gère les liens des réseaux sociaux--*/

.lien-sociaux {
    color: black;
}


/*--Classe gérant dans Infos.html la mise en page du texte. Va de ici --*/

.Plateforme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10em;
    text-align: center;
    padding-bottom: 2em;
    font-family: 'Oswald', sans-serif;
}

.Plateforme :first-child {
    align-self: center;
}


/*--A ici--*/


/*--Gère le sous-titre dans Infos.html--*/

#Staff {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


/*--Affecte le footer et ce qui s'y trouve--*/

footer {
    background-color: royalblue;
    text-align: center;
    color: white;
    padding: 0.5em;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
}


/*  Menu déroulant Espace Membre  */


/* Le conteneur <div> - nécessaire pour positionner le contenu de la liste déroulante */

.dropdown {
    position: relative;
}

.dropdown:hover {
    transition: all 0.5s ease-in-out;
    height: 240px;
    width: auto;
}


/* Contenu déroulant (masqué par défaut) */

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: royalblue;
    width: 100%;
    box-shadow: 12px 16px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 1s;
}


/* Liens dans la liste déroulante */

.dropdown-content a {
    color: white;
    padding: 0px 0px;
    text-decoration: none;
    padding: 10px;
}


/* Afficher le menu déroulant en survol */

.dropdown:hover .dropdown-content {
    display: block;
}


/** Les différentes fonctions pour assombrir les élements*/

body.darkbody {
    background: url("assets/backgrounddark.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    color: #ffffff;
}

.darkbody {
    color: #ffffff;
}

.darkfoncé {
    background-color: inherit;
    color: #ffffff;
}

.menuElement.darkfoncé {
    background: none;
}

.dropdown-content.darkfoncé {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.6);
}

nav.menu.darkbody {
    background: rgba(0, 0, 0, 0.6);
}

.footer btn {
    margin-left: 1700px;
    border: none;
    background-color: #1D243E;
    text-align: right;
    padding: 0.4rem;
    color: white;
    display: inline-block;
    border-radius: 2rem;
    outline: none;
}

.dark button {
    background: inherit;
    color: #fff;
}


/* styling search bar */

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.search {
    float: right;
    margin: 7px;
    background: none;
}

.search button {
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    visibility: hidden;
}


/* ENLEVER TEMPORAIREMENT LES TRANSITIONS */

.noTransition {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}