/*--Fichier style css principal--*/


/*--Stockage de variables principalement pour les couleurs du site--*/

:root {
    --color-body-background: white;
    --color-background: rgba(142, 185, 230, 0.9);
    --color-background-alt: rgba(69, 156, 247, 0.6);
    --color-separation-line: rgba(69, 156, 247, 0.6);
    --color-navbar-dropdown-background: linear-gradient(180deg, var(--color-background) 10%, var(--color-background-alt) 90%);
    --color-text: black;
    --color-text-shadow-selected: 0px 0px 20px white;
    --color-text-shadow-active: 0px 0px 12px #62bcda;
    --color-text-hover: #007dff;
    --color-links: black;
    --color-unselected-links: white;
    --color-selected-text: #404040;
    --color-active-text: black;
    --color-selection-text: inherit;
    --color-selection-bg: rgb(16, 137, 237, 0.45);
    --color-underline: dodgerblue;
    --color-text-article-title: bold var(--color-text);
    --color-text-article-desc: var(--color-text);
    --color-text-article-author: var(--color-text);
    --color-profil-title: var(--color-text-hover);
    --color-profil-line: rgba(54, 131, 247, 0.514);
    --color-profil-background: rgb(255, 255, 255);
    --font-base: 'Roboto', sans-serif, system-ui;
    --font-article: 'Lato', sans-serif, system-ui;
    --font-header: 'Montserrat', sans-serif, system-ui;
}


/*mode nuit*/

:root[user-color-mode=dark] {
    --color-body-background: #20222b;
    --color-background: rgba(0, 0, 0, 0.8);
    --color-background-alt: rgba(0, 0, 0, 0.8);
    --color-separation-line: rgba(245, 190, 38, 0.904);
    --color-navbar-dropdown-background: var(--color-background);
    --color-text: white;
    --color-text-shadow-selected: 0px 0px 4px black, 0px 0px 8px white;
    --color-text-shadow-active: inherit;
    --color-text-hover: #C0C0C0;
    --color-links: white;
    --color-unselected-links: white;
    --color-selected-text: #808080;
    --color-active-text: black;
    --color-selection-text: inherit;
    --color-selection-bg: rgb(218, 167, 55, 0.6);
    --color-underline: rgb(143, 143, 33);
    --color-profil-title: rgba(240, 192, 89, 0.719);
    --color-profil-line: rgba(240, 192, 89, 0.719);
    --color-profil-background: rgb(34, 33, 33);
    --color-text-article-title: bold var(--color-text);
    --color-text-article-desc: var(--color-text);
    --color-text-article-author: var(--color-text);
    /*Les polices ne doivent pas changer en fonction de la préférence de couleurs*/
}


/*--Selection du texte--*/

::selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text)
}


/*--Affecte toute la page HTML--*/

html {
    min-height: 100%;
    background-position: center;
    background-color: white;
    background-size: cover;
    font-family: var(--font-base);
    transition: ease 1s;
}


/*--Ne pas laisser de rebord blanc
	Affecte le corps de la page sans affecter le header--*/

body {
    overflow: auto;
    overflow-x: hidden;
    /* Hide scrollbars */
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--color-body-background);
    background-repeat: repeat-y;
    color: var(--color-text);
}


/*--Couleur du texte sur les différents éléments de la page pouvant contenir du texte--*/

body,
article,
.footer,
.main,
.left,
.right,
.middle {
    color: var(--color-text);
}

.left,
.right,
.middle {
    margin: 20px;
}

h1 {
    font-variant: small-caps;
}

.middle article p {
    word-spacing: 10px;
}


/*--Boite parent--*/

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
}


/*--Boite enfant--*/

.element {
    flex-basis: auto;
    min-width: min-content;
    text-align: center;
}


/*--Grande boite regroupant le header, et le corps de la page
    Ã  l'intérieur de <body> mais en dehors de la navbar et de <article>--*/

.main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 1.12fr minmax(400px, 3fr) 1.12fr;
    /* note : minimum (400px) et maximum (5 unités fractionnelle de width 100%) */
    column-gap: 3%;
}


/*--haut de la page (banniere et navbar)--*/

.header {
    grid-column: 1/4;
    place-content: center;
    position: sticky;
    top: 0;
    min-height: 80px;
    line-height: 80px;
    background-color: var(--color-background);
    width: 100%;
    transition: 1s;
    z-index: 100;
    font-family: var(--font-header);
}

.header nav .search {
    margin-left: auto;
    margin-right: 30px;
}


/*--Parties gauche, milieu et droite de la page--*/

.left {
    grid-column: 1/2;
    grid-row: 2/3;
    min-width: min-content;
    font-family: var(--font-header);
}

.middle {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    /*effets sur le texte (et images du .middle)*/
    place-content: center;
    overflow-wrap: break-word;
    text-align: inherit;
    height: 100%;
    font-family: var(--font-base);
    font-size: large;
    line-height: 1.5em;
}

.right {
    grid-column: 3/4;
    grid-row: 2/3;
    min-width: min-content;
    font-family: var(--font-header);
}


/*--Affecte le footer et ce qui s'y trouve--*/

.footer {
    position: sticky;
    background-color: var(--color-background);
    grid-column: 1/4;
    grid-row: 3/4;
    min-height: 80px;
    width: 100%;
    place-content: center;
    text-align: center;
    font-family: var(--font-header);
    font-weight: 500;
}

/*--Pour les petits écrans--*/

@media (max-width: 700px) {
    .main {
        display: flex;
    }
    .footer {
        align-self: flex-end;
    }
}


/*--Affecte les diffÃ©rents Eléments contenus dans header, mais pas le header en lui mÃªme--*/

.navBarHeader {
    padding: 0 10px;
    font-size: 1.1em;
    width: 100%;
    height: inherit;
    transition: 1s;
    background: var(--color-background);
}


/*--Eléments dans la navbar--*/

.headerFirstElement {
    display: inline-block;
    background: none;
    width: max-content;
}


/*--Affecte chaque partie du header oÃ¹ on peut cliquer (Menu, Article, Playlist...)
	transition du noir/blanc vers bleu en 0.5s en utilisant la courbe ease-in-out--*/

.navBarHeader a:any-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: var(--color-unselected-links);
    transition: all 0.5s ease-in-out;
    /* min-width: max-content; */
}


/*--Affecte les transitions lorsque l'on a la souris sur un Ã©lÃ©ment du header(Menu, Article...)--*/

.navBarHeader a:any-link:hover {
    color: var(--color-text-hover);
    transition: all 0.3s ease 0.2s;
    text-shadow: 0px 0px 18px white;
    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
}


/*--Change de couleur lorsque l'utilisateur clique sur l'Ã©lÃ©ment
    (Seulement avant le changement de page)--*/

.navBarHeader a:any-link:active {
    color: var(--color-active-text);
    text-shadow: var(--color-text-shadow-selected);
}


/*--Page actuelle sÃ©lectionnÃ©e dans la navbar--*/

.navBarHeader a.selected:any-link {
    color: var(--color-selected-text);
    text-shadow: var(--color-text-shadow-selected);
}


/*--Affecte la banniÃ¨re en haut de la page--*/

.banniere {
    width: 100%;
    height: 130px;
    top: 0;
    z-index: 1000;
    object-fit: cover;
    transition: 0.4s;
}

.avatar {
    border-radius: 50%;
    border: outset 1px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 5px;
}

article img {
    max-width: 100%;
}


/*--Souligner les liens (c bo ptn)--*/

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

a:any-link {
    color: var(--color-links);
}

a:any-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-underline);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:any-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*--Ne pas afficher la barre des liens (cf a:any-link:after)--*/

.noUnderline {
    color: inherit;
}

a.noUnderline:after {
    display: none;
}

a.selected {
    color: var(--color-selected-text);
}


/*--Dans Inscription.html, gÃ¨re les diffÃ©rentes zones oÃ¹ l'on peut Ã©crire--*/

form {
    width: 100%;
}


/*--Gallerie d'éléments, affiche comme des cartes--*/

.articleGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.cardArticleContainer {
    height: 14em;
    margin: 6px 10px;
    background-color: var(--color-background);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    transition: ease 0.5s;
    display: flex;
    flex-wrap: wrap;
}

.cardArticleContainer:hover {
    transform: scale(1.1);
    z-index: 10;
}

.cardArticleImage {
    max-height: 5em;
    object-fit: cover;
}

.cardArticleContent {
    padding: 2px 10px;
    align-self: flex-end;
}

.cardArticleTitle {
    font-weight: bold;
    color: var(--color-text-article-title);
}

.cardArticleMainText {
    color: var(--color-text-article-desc);
    font-size: small;
}

.cardArticleSecondaryText {
    opacity: 0.8;
    color: var(--color-text-article-author);
    align-self: flex-end;
}


/*--Gestion des pages lorsqu'il existe plusieurs pages--*/

.articleGalleryPageContainer {
    width: 100%;
    height: 2em;
    display: flex;
    font-size: x-large;
}

.articleGalleryPageElement {
    margin: 0.5em;
    padding: 0.1em 0.3em;
}


/*--Spécifique à la page admin--*/

.articleGalleryProfiles {
    grid-template-columns: repeat(auto-fill, 450px);
}

.cardArticleContainerProfiles {
    flex-wrap: nowrap;
    height: 4em;
}

.cardArticleContentProfiles {
    display: inline;
}

.cardArticleContentProfiles span,
.cardArticleContentProfiles a {
    font-size: small;
}

.cardArticleImageProfiles {
    max-width: 160px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article {
    font-family: var(--font-article);
}


/*--GÃ¨re les liens des rÃ©seaux sociaux--*/

.lien-sociaux {
    color: var(--color-links);
}


/*--Boutons après l'article--*/

.articleMenuButtonContainer {
    display: flex;
    width: auto;
    height: inherit;
}

.articleMenuButtonElement {
    margin: 4px 15px;
}

.articleMenuButtonElement a {
    display: flex;
}

.articleMenuButtonElement img {
    height: 100%;
}

.articleMenuButtonElement p {
    margin: 0px 5px;
    font-family: 'Montserrat';
}

.cookie-alert {
    width: 100%;
    margin: 20px 0px;
    line-height: normal;
}

.cookie-alert-ok-button {
    margin-top: 5px;
    padding: 2px 5px;
}


/*  Menu dÃ©roulant  */


/* Le conteneur <div> - nÃ©cessaire pour positionner le contenu de la liste dÃ©roulante */

.dropdown {
    position: relative;
}

.dropdown:hover {
    transition: all 0.5s ease-in-out;
    width: auto;
}


/* Contenu dÃ©roulant (masquÃ© par dÃ©faut) */

.dropdown-content {
    display: none;
    width: auto;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    background: var(--color-navbar-dropdown-background);
    box-shadow: 12px 16px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 1s;
    z-index: 100;
}


/* Liens dans la liste dÃ©roulante */

.dropdown-content a {
    color: var(--color-text);
    text-decoration: none;
    padding: 10px;
}


/* Afficher le menu dÃ©roulant en survol */

.dropdown:hover .dropdown-content {
    display: flex;
}


/*--Bouton dark mode - Ã  changer de nom de classe--*/

.footer btn {
    margin-left: 1700px;
    border: none;
    background-color: #1D243E;
    text-align: right;
    padding: 0.4rem;
    color: white;
    display: flex;
    border-radius: 2rem;
    outline: none;
}


/* styling search bar */

.search input[type=text] {
    min-width: max-content;
    width: 100%;
    max-width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
    outline: none;
}


/*--Affiche les boutons vues, likes et dislikes en blanc lorsqu'on est en mode nuit--*/

:root[user-color-mode=dark] .visitsButton {
    filter: invert(1);
}

:root[user-color-mode=dark] .likeButton {
    filter: invert(1);
}

:root[user-color-mode=dark] .dislikeButton {
    filter: invert(1);
}


/*--NE PAS AFFICHER UN ELEMENT--*/

.hidden {
    visibility: hidden;
}


/*--ENLEVER LES TRANSITIONS D'UN ELEMENT--*/

.noTransition {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.lowTransition {
    transition-duration: 0.3s;
    animation-duration: 0.3s;
}


/*--CENTRER L'ELEMENT--*/


/*VERTICAL*/

.vcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*HORIZONTAL*/

.hcenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/*--Bouton mode sombre--*/

.BoutonTransition {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    /* Note pour Lucô : on évite d'utiliser la position absolue (par rapport à la page)
        et les "left, right, top, bottom" lorsqu'on est dans une grille (grid, définie dans .main )
        sinon ça casse la grille et ça dépasse du footer ^^ (::before utilise toujours une position
        absolue, mais je ne sais pas trop pourquoi ça fonctionne donc je laisse)
       position sticky permet de rester dans la boite et de donner des positions par rapport à la boite
       margin-top et margin-bottom en "auto" permettent de centrer horizontalement l'élément

    Tu peux supprimer cette note lorsque tu la verras
    
    position: absolute;
    top: 15%;
    left: 90%;
    */
}

input[type="checkbox"] {
    border: none;
    background-color: lightgrey;
    text-align: left;
    padding: 0.4rem;
    color: white;
    display: inline-block;
    border-radius: 2rem;
    outline: none;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 40px;
    -webkit-appearance: none
}

input:checked[type="checkbox"] {
    background-color: #03a9f4;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    transition: 0.4s;
}

input:checked[type="checkbox"]:before {
    left: 40px;
}


/*--Classe gÃ©rant dans Infos.html la mise en page du texte. Va de ici --*/

.Plateforme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10em;
    text-align: center;
    padding-bottom: 2em;
}

.Plateforme :first-child {
    align-self: center;
}


/*--A ici--*/


/*--GÃ¨re le sous-titre dans Infos.html--*/

#Staff {
    font-size: 50px;
    text-align: center;
}

/*-- CSS pour l texte du profil, l'avatar est plus haut, il y avait déjà des modifications.*/

.ProfilTxt {
    padding: 30px;
    background: var(--color-body-background);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
}

.PTitle {
    color: var(--color-profil-title);
    font-family: Times;
    font-size: 23px;
    font-weight: 500;
}

.PCapsule {
    font-family: sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 450px;
    background-color: var(--color-body-background);
    box-shadow: 0 2px 0 var(--color-profil-line);
    display: table-cell;
}

.PActions {
    font-family: sans-serif;
    color: var(--color-links);
}

.PName {
    font-family: Times;
    font-weight: 600;
}


/*--Partie pour Afiicher Plus dans commentaires--*/

* {
    box-sizing: border-box;
}

.panel-wrapper {
    position: relative;
    margin: -10px;
}

.btn {
    color: #fff;
    background: rgb(100, 100, 100);
    border-radius: 1em;
    left: 20%;
    padding: 0.5em;
    text-decoration: none;
    width: 60%;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

.show,
.hide {
    position: absolute;
    bottom: -1em;
    z-index: 5;
    text-align: center;
}

.hide {
    display: none;
}

.show:target {
    display: none;
}

.show:target~.hide {
    display: block;
}

.show:target~.panel {
    max-height: 2000px;
}

.show:target~.fade {
    margin-top: 0;
}

.panel {
    position: relative;
    margin: 2em auto;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    transition: max-height .5s ease;
    margin-left: 3.5em ;
}

.fade {
    background: linear-gradient(to bottom, rgba((100, 100, 100), 0) 0%, rgba((100, 100, 100), 1) 75%);
    height: 100px;
    margin-top: -100px;
    position: relative;
}

/*-- CSS pour le texte des commentaires: C... (c'est de commentaire) */
.NCapsule {
    font-family: sans-serif;
    font-weight: 400;
    box-shadow: 0 2px 0 var(--color-underline);
    text-align: left;
    float: left;
    width: 175px;
    display: table-cell;
}
.CText {
    word-break: break-word;
    width: 230px;
}
.CBlock {
    background: var(--color-body-background);
    box-sizing: border-box;
    box-shadow: 0 1px 3px var(--color-text-hover);
    border-color: var(--color-text-shadow-selected);
    padding: 8px;
    margin: 10px;
    border-width: 2px;
    max-width: 250px;
    width: 100%;
}

.Commentaires {
    border-left: solid;
    border-left-color: var(--color-separation-line);
    border-left-width: 2px;
    width: 100%;
}

/*-- Obglet Menu */
.ImageLien {
    height: 117px;
    width: 117px;
}

.MenuTxt {
    text-align: left;
}

.Visites {
    border-top: solid;
    border-bottom: solid;
    border-color: var(--color-text);
    border-width: 0.5px;
    width: 300px;
}